target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/sonarlint/issuestore/0/b/0bf0a2566aab486a43b07986bbaf6fea8f76f674
/.idea/sonarlint/issuestore/1/b/1bfa3baf3cd007cc1702e16ecdc008340ce6c103
/.idea/sonarlint/issuestore/2/c/2c00074075b875955f169630b39c58ce5c55d7fb
/.idea/sonarlint/issuestore/3/c/3c6458c057d3ebf00564650d90d87004f92e7700
/.idea/sonarlint/issuestore/3/f/3f97db1bd3a5aea907c395868c7e42b374986070
/.idea/sonarlint/issuestore/5/b/5b251c9510076d7c39c88e411f752fe00b9562e6
/.idea/sonarlint/issuestore/5/d/5df699ead51b264191766a64b20822bd977eceea
/.idea/sonarlint/issuestore/7/f/7fce0be7edfb43003d1e37e6c61d294406e20d30
/.idea/sonarlint/issuestore/8/c/8c1b1bfc68fd6b3f12c57d0d38d17158268e2d2c
/.idea/sonarlint/issuestore/0/8/08e4c142df61ea4bfee20641db94e47308cd48df
/.idea/sonarlint/issuestore/2/7/27ae1163844d411b707599669d3aba21d26c302e
/.idea/sonarlint/issuestore/3/1/31bb28eb10a7f7ac50be3379b4a64ad163256f68
/.idea/sonarlint/issuestore/4/4/44cb89fad9cc66a62ac014931a4c7bd507d471b3
/.idea/sonarlint/issuestore/4/4/44f600d90bcc5ab1468eb80bd28576f613a3e5f3
/.idea/sonarlint/issuestore/4/6/46def7b294e365349f0fa8a41dd4388ab6d268a1
/.idea/sonarlint/issuestore/4/9/49b1d51b4da8e1e03c292c6e77c94768680c59a4
/.idea/sonarlint/issuestore/7/9/79e6d01edcfec2e54ac7d53398bc4867c6fab375
/.idea/sonarlint/issuestore/9/8/98fe672553900774957791ee4da024286aab158b
/.idea/sonarlint/issuestore/2/3/2319d873ed6f66fd68ac92afafaefffb1c48ebe7
/.idea/sonarlint/issuestore/4/0/4099a481617f68450d21b8775ca7a3c2695242b7
/.idea/sonarlint/issuestore/6/3/6351a21d7110290722a17d08d8459d2a72048a04
/.idea/sonarlint/issuestore/9/4/9496d67631a0eaab507f97c411ac6746640452b7
/.idea/sonarlint/issuestore/1/7/17109edc8b568d8fe550ed8d094668105c9cbaee
/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
/.idea/sonarlint/issuestore/2/6/2651871a0e3d75d51671dab80ee2069c6724f138
/.idea/sonarlint/issuestore/2/9/29013715e2c15e91beb5313825799c842a6a07bb
/.idea/sonarlint/issuestore/9/6/96990891438fbe847e924f20745d729e6dfb5322
/cuda_by_example/chapter03/a.exe
/cuda_by_example/chapter04/a.exe
/cuda_by_example/chapter10/a.exe
/cuda_by_example/chapter03/a.exp
/cuda_by_example/chapter04/a.exp
/cuda_by_example/chapter10/a.exp
/cuda_by_example/chapter03/a.lib
/cuda_by_example/chapter04/a.lib
/cuda_by_example/chapter10/a.lib
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/a/5/a51e0de1ac03c0e708171e755d16f997b127cf5b
/.idea/sonarlint/issuestore/a/c/acfc2cd2b35aca4f296e8144fcbd31cf6c5aedb2
/cuda_by_example/chapter05/add_loop_blocks.cu
/cuda_by_example/chapter05/add_loop_blocks.exe
/cuda_by_example/chapter05/add_loop_blocks.exp
/cuda_by_example/chapter05/add_loop_blocks.lib
/cuda_by_example/chapter04/add_loop_cpu.cu
/cuda_by_example/chapter04/add_loop_gpu.cu
/cuda_by_example/chapter04/add_loop_gpu.exe
/cuda_by_example/chapter04/add_loop_gpu.exp
/cuda_by_example/chapter04/add_loop_gpu.lib
/cuda_by_example/chapter04/add_loop_gpu2.cu
/cuda_by_example/chapter04/add_loop_long.cu
/cuda_by_example/chapter04/add_loop_long.exe
/cuda_by_example/chapter04/add_loop_long.exp
/cuda_by_example/chapter04/add_loop_long.lib
/cuda_by_example/chapter05/add_loop_long_blocks.cu
/cuda_by_example/chapter05/add_loop_long_blocks.exe
/cuda_by_example/chapter05/add_loop_long_blocks.exp
/cuda_by_example/chapter05/add_loop_long_blocks.lib
/AddKernel.ptx
/AddKernelLong.ptx
/AddLoopBlocks.ptx
/AddLoopLongBlocks.ptx
/.idea/sonarlint/issuestore/b/3/b33aab9fbb72db907d51dedff0601c99e1b68638
/.idea/sonarlint/issuestore/b/9/b959465c2c4cf876fc5e6005013ca5ec131c7526
/.idea/sonarlint/issuestore/b/a/baeb6a76ba6da3cedb1dac295d57da67afa2369d
/cuda_by_example/chapter10/basic_double_stream.cu
/cuda_by_example/chapter10/basic_double_stream_correct.cu
/cuda_by_example/chapter10/basic_double_stream_correct.exe
/cuda_by_example/chapter10/basic_double_stream_correct.exp
/cuda_by_example/chapter10/basic_double_stream_correct.lib
/cuda_by_example/chapter08/basic_interop.cu
/cuda_by_example/chapter10/basic_single_stream.cu
/BasicDoubleStream.ptx
/BasicDoubleStreamCorrect.ptx
/BasicSingleStream.ptx
/cuda_by_example/common/book.h
/.idea/sonarlint/issuestore/c/a/ca15eee0aa208d50f20b1ca062c03c4e370b48c9
/.idea/sonarlint/issuestore/c/b/cbf07b9bff95ca1ad100e47add09c2c921a84b59
/cuda_by_example/chapter10/copy_timed.cu
/cuda_by_example/common/cpu_anim.h
/cuda_by_example/common/cpu_bitmap.h
/.idea/sonarlint/issuestore/d/0/d091fa331f6aa5d944a5456886a190f189393075
/.idea/sonarlint/issuestore/d/9/d99e2ed73e093bf87f4c17e6fd3cb804730132ff
/.idea/sonarlint/issuestore/d/c/dc20cdb07d5712a6c25705f982ba1241ba0cc092
/.idea/sonarlint/issuestore/d/c/dcb5500c2a717f983b7d717c2932f497bd88ad1c
/cuda_by_example/appendix_a/dot.cu
/cuda_by_example/chapter05/dot.cu
/cuda_by_example/chapter05/dot.exe
/cuda_by_example/chapter05/dot.exp
/cuda_by_example/chapter05/dot.lib
/DotKernel.ptx
/.idea/encodings.xml
/cuda_by_example/chapter03/enum_gpu.cu
/.idea/sonarlint/issuestore/f/a/fa078426fc0856bcaa6c26daa2ee331070d82dfe
/.idea/sonarlint/issuestore/f/e/fedcd1e302ac29598da24446c9811afd2c2ae095
/.idea/sonarlint/issuestore/f/f/ffd69c525ea54a84264d64c51b5f22505ee88c6b
/Fourier.ptx
/Fourier2.ptx
/cuda_by_example/common/gl_helper.h
/cuda_by_example/common/GL/glext.h
/cuda_by_example/common/GL/glut.h
/cuda_by_example/bin/glut32.dll
/cuda_by_example/lib/glut32.lib
/cuda_by_example/bin/glut64.dll
/cuda_by_example/lib/glut64.lib
/cuda_by_example/common/gpu_anim.h
/graph.py
/cuda_by_example/appendix_a/hashtable_cpu.cu
/cuda_by_example/appendix_a/hashtable_gpu.cu
/cuda_by_example/chapter07/heat.cu
/cuda_by_example/chapter08/heat.cu
/cuda_by_example/chapter07/heat_2d.cu
/cuda_by_example/chapter03/hello_world.cu
/cuda_by_example/chapter09/hist_cpu.cu
/cuda_by_example/chapter09/hist_gpu_gmem_atomics.cu
/cuda_by_example/chapter09/hist_gpu_gmem_atomics.exe
/cuda_by_example/chapter09/hist_gpu_gmem_atomics.exp
/cuda_by_example/chapter09/hist_gpu_gmem_atomics.lib
/cuda_by_example/chapter09/hist_gpu_shmem_atomics.cu
/cuda_by_example/chapter09/hist_gpu_shmem_atomics.exe
/cuda_by_example/chapter09/hist_gpu_shmem_atomics.exp
/cuda_by_example/chapter09/hist_gpu_shmem_atomics.lib
/HistGpuGmemAtomics.ptx
/HistGpuShmemAtomics.ptx
/hs_err_pid3508.log
/hs_err_pid23424.log
/hs_err_pid27700.jfr
/hs_err_pid27700.log
/hs_err_pid30824.log
/hs_err_pid31272.log
/hs_err_pid34344.log
/hs_err_pid34604.log
/hs_err_pid35276.log
/.idea/sonarlint/issuestore/index.pb
/cuda_by_example/chapter04/julia_cpu.cu
/cuda_by_example/chapter04/julia_gpu.cu
/cuda_by_example/license.txt
/cuda_by_example/appendix_a/lock.h
/cuda_by_example/chapter11/multidevice.cu
/cuda_by_example/chapter11/portable.cu
/cuda_by_example/chapter06/ray.cu
/cuda_by_example/chapter06/ray_noconst.cu
/cuda_by_example/README.txt
/result_256.csv
/result_stream_FIRST.csv
/results_4.csv
/results_4coeffs.csv
/results_16.csv
/results_16coeffs.csv
/results_64.csv
/results_64coeffs.csv
/results_256.csv
/results_256coeffs.csv
/results_1024coeffs.csv
/results_FIRST.csv
/cuda_by_example/chapter05/ripple.cu
/cuda_by_example/chapter08/ripple.cu
/cuda_by_example/chapter03/set_gpu.cu
/cuda_by_example/chapter05/shared_bitmap.cu
/cuda_by_example/chapter03/simple_device_call.cu
/cuda_by_example/chapter03/simple_kernel.cu
/cuda_by_example/chapter03/simple_kernel_params.cu
/cuda_by_example/chapter11/time_zero2.cu
/triangle_signal_4.png
/triangle_signal_16.png
/triangle_signal_64.png
/triangle_signal_256.png
/triangle_signal_1024.png
/VectorAdd
/VectorAdd.ptx
